div{
    font-family: 'Roboto', sans-serif;
    width: 800px;
    margin: 0 auto;
}
.head{
    border-style: solid;
    border-color: #ffffff #ffffff #c0c0c0 #ffffff;
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 20px;
}
.a{
    font-size: 20px;
    line-height: 26px;
}
.b{
    font-size: 24px;
    line-height: 32px;
}
.heads{
    font-size: 32px;
    line-height: 32px;
    margin-top: 40px;
}
.c{
    margin-top: 20px;
}
.d{
    display:inline-block;
    margin-top: 10px;
}
.f{
    display:inline-block;
    margin-top: 10px;
    margin-left: 20px;
}
#form{
    height: 500px;
    width: 650px;
    margin-bottom: 10px;
}
.tip{
    border: 4px solid #a1e0c9;
    background-color: #def6ed;
    padding: 25px;
}
span{
    font-weight: bold
}